* {box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: #ebebeb;
    padding: 20px;
    width: 960px;
    color: #777777;
    margin: 0 auto 0 auto;
    margin-bottom: 10px;
}
body {
    font-size: 18px;
    background: #777777;
}
.wrapper {
    width: 960px;
    padding: 20px;
    overflow: hidden;
    margin: 0 auto;
}
nav {
    background: #ebebeb;
    color: #777777;
    padding: 20px;
    width: 960px;
    bottom: 20px;
    margin: 0 auto 0 auto
}
section {
    background: #ebebeb;
    width: 495px;
    color: #777777; 
    overflow: hidden;
    padding: 30px;
    float: left;
    left: 10px;
}
aside {
    background: #ebebeb;
    color: #777777;
    width: 405px;
    float: right;
    height: 300px;
    margin-left: 10px;
    padding: 20px;
}
article {
    background: #777777;
    color: #ebebeb;
    width: 455px;
    padding: 20px;
    margin-top: 20px;
} 
p { 
    background: #ebebeb;
    padding:10px;
    color: #777777;
    font-size: 18px;
}
footer { 
    clear: both;
    background: #ebebeb;
    color: #777777;
    padding: 20px;
    width: 960px;
    margin: 0 auto;
}